.form-group.checkbox {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
}

.form-group.checkbox input[type="checkbox"] {
    width: auto;
    margin-right: 0.75rem;
    cursor: pointer;
}

.form-group.checkbox label {
    margin-bottom: 0;
    cursor: pointer;
    font-weight: 400;
}
