.form-group.checkbox {
    display: flex;
    align-items: center;
    margin-bottom: var(--asm-space-6);
}

.form-group.checkbox input[type="checkbox"] {
    width: auto;
    margin-right: var(--asm-space-3);
    cursor: pointer;
}

.form-group.checkbox label {
    margin-bottom: 0;
    cursor: pointer;
    font-weight: var(--asm-font-weight-400);
}
